<ion-view view-title="Proceso">

  <ion-content>
    <div ng-if="showResponse">
      <div class="wrapper-job-title">
        <h1>Etapas del proceso</h1>
      </div>
      <div ng-repeat="job in data">
        <a class="item wrapping-list gray item-icon-right">
          <h2>Etapa: {{job.name}}</h2>
        </a>
        <div class="job-requirements">
          <h2>Fecha de actualización:</h2>
          <p>{{job.datestage}}</p>
        </div>
      </div>
    </div>
    <div ng-if="oneMatch">
      <div ng-repeat="job in data">
        <a class="item wrapping-list gray item-icon-right">
          <h2>Etapa: {{singleMessage.name}}</h2>
        </a>
        <div class="job-requirements">
          <h2>Fecha de actualización:</h2>
          <p>{{singleMessage.datestage}}</p>
        </div>
      </div>
    </div>

    <div ng-if="!showResponse">
      <div class="wrapper-job-title">
        No se pudo cargar la información
      </div>
    </div>
  </ion-content>
</ion-view>