<ion-view view-title="Empresa">
  <ion-content>
    <div class="company-info">
      <div ng-if="showResponse">
        <div class="wrapper-job-detail-title">
          <h1>{{company.name}}</h1>
          <div class="main-logo">
            <img src="http://www.konectaempleo.com/assets/coi/{{company.logoname}}">
          </div>  
          <p>{{company.slogan}}</p>  
          <br>
          <p>Descripción: {{company.descriptionapp}}</p>   
          <br>
          <a href="{{company.website}}">{{company.website}}</a>
          <p>{{company.rubro}}</p>         
        </div>
      </div>
      <div ng-if="!showResponse">
        <div class="wrapper-job-title">
          No se pudo cargar la información
        </div>
      </div>
      <div class="jobs-text">
        <span>Listado de ofertas de esta empresa</span>
      </div>
      <div class="jobs-lists">
        <div ng-if="showResponse">
          <ion-list>
            <ion-item ng-repeat="job in jobs" ng-click="openJob({{job.id_post}})" class="item item-icon-right">
              <h2 class="lists">{{job.realname}}</h2>
              <p>
                {{job.tipocontrato}} <br>
                {{job.pais}}
              </p>
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
          </ion-list>
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>