<ion-view title="" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a ng-show="showMyNotifications" class=" button button-icon icon positive ion-android-notifications"  href="#/app/notifications">
      <div class="notification-number" ng-show="notificationsNumber != 'No hay notificaciones nuevas' && notificationsNumber > 0">{{notificationsNumber > 99 ? '99+' : notificationsNumber}}</div>
    </a>
    <a class=" button button-icon icon positive ion-search" href="#/app/search"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="dashboard-wrapper">
      <div class="user-logged">
        <div class="user-image">
          <img ng-show="!hasPicture" src="img/user-icon-st.jpg">
          <img ng-show="hasPicture" src="http://www.konectaempleo.com/assets/img/{{userPic}}">
          <h2>
            <span ng-show="{{welcome === 1}}">Bienvenido(a)</span>
            {{fullname}}
          </h2>
          <div ng-show="appliedJob" class="applied-job">
            <h2>Has aplicado exitosamente!</h2>
            <img src="img/checkIco.png">
          </div>
        </div>
      </div>

      <div class="login-text login-small-font" ng-show="showUserOptions">
        <a ng-click="goToCV()" class="button button-orange-light">
          <i class="ion-person">&nbsp;</i>
          Mi CV
        </a>
        <a ng-click="goToJobs()" class="button button-orange-light">
          <i class="ion-android-clipboard">&nbsp;</i>
          Todos los empleos
        </a>
        <br>
        <a ng-click="goToMessages()" class="button button-orange-light">
          <i class="ion-email">&nbsp;</i>
          Mis Korreos
        </a>
        <a ng-click="goToSettings()" class="button button-orange-light">
          <i class="ion-settings">&nbsp;</i>
          Preferencias
        </a>
      </div>

      <div class="jobs-text wrapping-list">
        <span>{{jobsSearchMsg}}</span>
      </div>

      <div class="user-wrapper-cv login-small-font">
        <a ng-show="showExtraPreferenceButton" ng-click="goToUserPreferences()" class="button button-orange-light button-fix-large">
          <i class="ion-ios-world-outline">&nbsp;</i>
          Cambiar mis preferencias
        </a>
      </div>

      <div class="jobs-lists">
        <div ng-if="showResponse">
          <ion-list>
            <ion-item ng-repeat="job in data" ng-click="openJob({{job.id_post}})" class="item item-icon-right">
              <h2 class="lists">{{job.realname}}</h2>
              <p>
                {{job.tipocontrato}} <br>
                {{job.pais}}
              </p>
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
          </ion-list>
        </div>
      </div>
      


    </div>
    <br>
    <!--div class="device">
      DEVICE TOKEN: <br>
      {{deviceToken}}
    </div -->
    <br>
  </ion-content>
</ion-view>
