<div class="form-error" ng-message="required">Este campo es requerido.</div>
<div class="form-error" ng-message="minlength">Este campo debe contener al menos 5 caracteres.</div>
<div class="form-error" ng-message="maxlength">Este campo no debe de superar 8 caracteres</div>
<div class="form-error" ng-message="email">El formato del correo es incorrecto</div>
<div class="form-error" ng-message="min">Solo se permiten números</div>
<div class="form-error" ng-message="number">Solo se permiten números</div>

