<ion-view view-title="Empleo" class="job-wrapper">

  <ion-content>
    <div ng-if="showResponse">
      <div ng-repeat="job in data">
        <div class="wrapper-job-title">
          <h1>{{job.realname}}</h1>
          <label>{{job.pais}}</label>
        </div>
        <a class="item gray item-icon-right wrapping-list" ng-show="job.id_company!=0" ng-click="openCompany({{job.id_company}})">
          <h2>{{job.empresa}}</h2>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item gray item-icon-right wrapping-list" ng-show="job.id_company==0">
          <h2>{{job.empresa}}</h2>
        </a>
        <a class="sky-blue item item-icon-right" href="#/app/jobs/{{job.id}}/detail">
          <h2>Detalle del empleo:</h2>
          <br>
          <p>{{job.tipocontrato}}</p>
          <br>Salario mínimo: {{job.salmin}}
          <br>Salario máximo: {{job.salmax}}
          <br>Género: {{job.genero}}
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <div class="job-requirements">
          <h2>Requisitos:</h2>
          <p ng-bind-html="job.description"></p>
          <br>
          <form ng-submit="applyToJob()" ng-show="buttonEnable">
            <div class="list">
              <input type="hidden" ng-model="applyJob.jobID" value="{{job.id_post}}">
              <button class="button button-sky-blue" type="submit">Aplicar</button>
            </div>
          </form>
          <button ng-show="showJobProcess" class="button button-orange" ng-click="openJobProcess()">Ver proceso</button>

        </div>
      </div>
    </div>
    <div ng-if="!showResponse">
      <div class="wrapper-job-title">
        No se pudo cargar la información
      </div>
    </div>
  </ion-content>
</ion-view>