<ion-view view-title="Detalle empleo">
  <ion-content>

    <div ng-if="showResponse">
      <div ng-repeat="job in data">
        <div class="wrapper-job-detail">
          <h1>{{job.realname}}</h1>
        </div>
        <div class="gray-title-bg">Empresa</div>
        <div class="wrapper-job-detail">
          <p ng-bind-html="job.empresa"></p>
        </div>
        <div class="gray-title-bg">País</div>
        <div class="wrapper-job-detail">
          <p ng-bind-html="job.pais"></p>
        </div>
        <div class="gray-title-bg">Requisitos</div>
        <div class="wrapper-job-detail">
          <p ng-bind-html="job.description"></p>
        </div>
        <div class="gray-title-bg">Otra información de interés</div>
        <div class="wrapper-job-detail">
          <p>{{job.tipocontrato}}</p>
          <br>Salario mínimo: {{job.salmin}}
          <br>Salario máximo: {{job.salmax}}          
        </div>
        <div class="wrapper-job-detail">
          <form ng-submit="applyToJob()" ng-show="buttonEnable">
            <div class="list">
              <input type="hidden" ng-model="applyJob.jobID">
              <input type="hidden" ng-model="applyJob.userID">
              <button class="button button-sky-blue" type="submit">Aplicar</button>
            </div>
          </form>
          <button ng-show="showJobProcess" class="button button-orange" ng-click="openJobProcess()">Ver proceso</button>

        </div>
      </div>
    </div>
    <div ng-if="!showResponse">
      <div class="wrapper-job-title">
        No se pudo cargar la información
      </div>
    </div>

  </ion-content>
</ion-view>
