<ion-view title="Todos los empleos">
  <ion-nav-buttons side="right">
    <a ng-show="showMyNotifications" class=" button button-icon icon positive ion-android-notifications"  href="#/app/notifications">
      <div class="notification-number" ng-show="notificationsNumber != 'No hay notificaciones nuevas' && notificationsNumber > 0">{{notificationsNumber > 99 ? '99+' : notificationsNumber}}</div>
    </a>
    <a class=" button button-icon icon positive ion-search" href="#/app/search"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="dashboard-wrapper">
      <div class="jobs-text">
        <span ng-show="!NoJobsFound">Listado de ofertas más recientes</span>
        <span ng-show="NoJobsFound">No se han encontrado plazas</span>
      </div>

      <div class="jobs-lists">
        <div ng-if="showResponse">
          <ion-list>
            <ion-item ng-repeat="job in jobs" ng-click="openJob({{job.id_post}})" class="item item-icon-right">
              <h2 class="lists">{{job.realname}}</h2>
              <p>
                {{job.tipocontrato}} <br>
                {{job.pais}}
              </p>
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <br>
    <!-- div class="device">
      DEVICE TOKEN: <br>
      {{deviceToken}}
    </div -->
    <br>
  </ion-content>
</ion-view>
