<ion-view view-title="Login" hide-nav-bar="true" hide-back-button="true" class="login-wrapper">
  <ion-content>
    <div class="main-section">
      <div class="main-ke-logo">
        <img src="img/logo.png" class="icon-absolute">
      </div>
      <div class="login-error" ng-show="LoginError">
        Correo o clave incorrectos
      </div>
      <form class="login-form" name="LoginForm">
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-email placeholder-icon"></i>
            <input type="email" ng-model="loginData.email" placeholder="Correo Electrónico">
          </label>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" ng-model="loginData.password" placeholder="Contraseña">
          </label>
          <button class="button button-orange" ng-click="doLogin()" type="submit">Ingresar</button>
        </div>
      </form>
      <div class="login-text login-small-font">
        <a ng-click="goToForgot()" class="button button-positive" style="width: 165px;">
          <i class="ion-help-buoy">&nbsp;</i>
          Olvidé mi contraseña
        </a> <!-- button-light -->
        <a ng-click="goToRegister()" class="button button-positive" style="width: 165px;">
          <i class="ion-person-add">&nbsp;</i>
          Quiero registrarme
        </a>
      </div>
      <div class="login-text login-small-font">
          <a ng-click="gotoJobs()" class="button button-positive custom-button-large">
            <i class="ion-android-search">&nbsp;</i>
            <span>Buscar empleo</span>
          </a>
        </div>
      </div>

      <br>    
  </ion-content>
</ion-view>