<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="side-menu">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <ion-header-bar class="bar-stable side-menu">
      <h1 class="title">&nbsp;</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <img src="img/logo-small.jpeg" class="img-logo-menu" />
        <ion-item ng-show="showDashboard" menu-toggle href="#/app/dashboard" class="item-side-menu">
          Mi panel principal
        </ion-item>
        <ion-item menu-toggle href="#/app/search" class="item-side-menu">
          Buscar empleo
        </ion-item>
        <ion-item menu-toggle ng-click="openJobs()" class="item-side-menu">
          Ver todos los empleos
        </ion-item>
        <ion-item ng-show="showMyJobs" menu-toggle href="#/app/my_jobs" class="item-side-menu">
          Ver mis postulaciones
        </ion-item>
        <ion-item ng-show="showMyCV" menu-toggle href="#/app/resume" class="item-side-menu">
          Mi CV
        </ion-item>
        <ion-item ng-show="showMyMessages" menu-toggle href="#/app/messages" class="item-side-menu">
          Korreos internos
        </ion-item>
        <ion-item ng-show="showLogin" menu-close ng-click="destroySession()" class="item-side-menu">
          Ir al login
        </ion-item>
        <ion-item ng-show="showRegister" menu-close href="#/register_index" class="item-side-menu">
          Registrese
        </ion-item>
        <ion-item ng-show="showPreferences" menu-toggle ng-click="goToSettings()" class="item-side-menu">
          Preferencias
        </ion-item>
        <ion-item ng-show="showCloseSession" menu-close ng-click="destroySession()" class="item-side-menu">
          Cerrar Sesión
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
