<ion-view title="Mis korreos internos">
  <ion-content>
    <div class="wrapper-notifications">
      <h1>Mensaje</h1>
    </div>
    <div class="dashboard-wrapper">
      <div class="jobs-lists">
        <div class="jobs-text">
          <span>{{message_subject}}</span>
        </div>
        <br>
        <a class="item gray item-icon-right" ng-click="openJob({{message_post}})" ng-show="showAction">
          <h2>Ir a plaza</h2>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <div class="job-requirements">
          <br>
          <h5>{{message_sentdate}}</h5>
          <p>
            {{message_content}}
          </p>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>