<ion-view title="Mis korreos internos">
  <ion-content>
    <div class="wrapper-notifications">
      <h1>Tenemos información para ti</h1>
    </div>
    <div class="dashboard-wrapper">
      <div class="jobs-lists">
        <div class="no-results" ng-show="noResults">No tienes mensajes</div>
        <div ng-if="showResponse">
          <ion-list>
            <ion-item ng-repeat="message in messages" ng-click="goToMessage({{message.id_kca}},'{{message.subject}}','{{message.message}}', '{{message.sentdate}}', '{{message.id_post}}')" class="item item-icon-right">
              <h2>{{message.subject}}</h2>
              <p>
                {{message.sentdate}} <span ng-show="message.isread==0" class="assertive-badge">Nuevo</span>
              </p>

              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
          </ion-list>
        </div>
        <div ng-if="oneMatch">
          <ion-list>
            <ion-item ng-click="goToMessage({{singleMessage.id_kca}})" class="item item-icon-right">
              <h2>{{singleMessage.subject}}</h2>
              <p>
                {{singleMessage.sentdate}}
              </p>
              <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>