<ion-view view-title="Mi CV">

  <ion-content>
    <div class="user-info">
      <div class="jobs-text">
        <span>Agrega o modifica los aspectos relevantes de tu Currículum</span>
      </div>
      <div class="user-wrapper-cv">
        <a ng-click="goToUserInfo()" class="button button-orange-light cv-button-fix-large">
          <i class="ion-person">&nbsp;</i>
          Información General
        </a>
        <br>
        <a ng-click="goToUserJobs()" class="button button-orange-light cv-button-fix-large">
          <i class="ion-android-clipboard">&nbsp;</i>
          Empleos
        </a>
        <br>
        <a ng-click="goToUserStudies()" class="button button-orange-light cv-button-fix-large">
          <i class="ion-email">&nbsp;</i>
          Estudios
        </a>
        <br>
        <a ng-click="goToUserSkills()" class="button button-orange-light cv-button-fix-large">
          <i class="ion-settings">&nbsp;</i>
          Habilidades
        </a>
        <br>
        <br>
      </div>     
    </div>
  </ion-content>
</ion-view>