<ion-view title="Mis empleos">
  <ion-nav-buttons side="right">
    <a ng-show="showMyNotifications" class=" button button-icon icon positive ion-android-notifications"  href="#/app/notifications">
      <div class="notification-number" ng-show="notificationsNumber != 'No hay notificaciones nuevas' && notificationsNumber > 0">{{notificationsNumber > 99 ? '99+' : notificationsNumber}}</div>
    </a>
    <a class=" button button-icon icon positive ion-search" href="#/app/search"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="dashboard-wrapper">
      <div class="jobs-text">
        Estas son las ofertas a las que has aplicado
      </div>
      <div class="jobs-lists">
        <div class="no-results" ng-if="noResults">No tienes aplicaciones a plazas de trabajo</div>
        <div ng-if="showResponse">
          <ion-list>
            <ion-item ng-repeat="job in data" class="item item-icon-right myjob">
              <h2 class="lists">{{job.realname}}</h2>
              <p>
                Fecha de aplicación: {{job.dateapply}} <br>
                {{job.description}}
              </p>
              
              <div class="login-small-font">
                <a ng-click="openJobProcess({{job.id_post}})" class="button button-balanced">
                  <i class="ion-settings">&nbsp;</i>
                  Ver proceso
                </a>
                <a ng-click="openJob({{job.id_post}})" class="button button-positive">
                  <i class="ion-settings">&nbsp;</i>
                  Ver plaza
                </a>
              </div>
              <!--<i class="icon ion-ios-arrow-forward"></i>-->
            </ion-item>
          </ion-list>
        </div>
  <!--
  <div style="background: #fff;">
    <span>Url : {{config.url}}</span> 
    <br/>
    <span>method : {{config.method}}</span> 
    <br/>
    <span>Response : {{data}}</span> 
    <br/>
    <span>Header : {{config.headers}}</span> 
    <br/>
  </div>
  -->
      </div>
    </div>
  </ion-content>
</ion-view>
<!-- 

    "fecha": "2016-04-09 14:23:05",
    "name": "Postularme a empleo",
    "id_stage": "1",
    "realname": "Community Manager/ Webmaster",
    "description": "Amplios Conocimientos en el manejo de Redes Sociales y PÃ¡ginas Web.\r\nMacros en Excel.\r\nDisponibilidad de Tiempo Completo, desde casa (8 horas)"
-->