<ion-view view-title="Registro" hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <div class="dashboard-wrapper">
      <div class="user-logged">
        <h1>Registro de usuario</h1>
        <p>Deberá completar la información del registro en el sitio web.</p>
        <div class="user-image ui-registration">
          <a ng-click="#" class="button button-block button-positive">
            <img src="img/user-icon-st.jpg">
          </a>
        </div>
      </div>
      <form ng-submit="registerUser(RegistrationForm)" class="login-form" name="RegistrationForm" novalidate="">
        <div class="list">
          <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : RegistrationForm.name.$invalid && RegistrationForm.$submitted}">
            <span class="input-label">Nombre</span>
            <input type="text" ng-model="registrationData.name" placeholder="Escriba su nombre" name="name" required>
            <div class="form-errors" ng-show="RegistrationForm.name.$invalid && RegistrationForm.$submitted" >Este campo es requerido</div>
          </label>

          <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : RegistrationForm.lastname.$invalid && RegistrationForm.$submitted}">
            <span class="input-label">Apellido</span>
            <input type="text" ng-model="registrationData.lastname" placeholder="Escriba su apellido" name="lastname" required> 
            <div class="form-errors" ng-show="RegistrationForm.lastname.$invalid && RegistrationForm.$submitted" >Este campo es requerido</div>
          </label>

          <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : RegistrationForm.email.$error.required && RegistrationForm.$submitted}">
            <span class="input-label">Email</span>
            <input type="email" ng-model="registrationData.email" placeholder="Escriba su correo electrónico" name="email" required>
            <div class="form-errors" ng-show="RegistrationForm.email.$error.required  && RegistrationForm.$submitted">Este campo es requerido</div>
            <div class="form-errors" ng-show="!RegistrationForm.email.$error.required && RegistrationForm.email.$error.email && RegistrationForm.email.$dirty && RegistrationForm.$submitted">El formato del correo es incorrecto</div>
          </label>

          <label class="item item-input item-stacked-label" class="item item-input item-stacked-label" ng-class="{ 'has-error' : RegistrationForm.password.$invalid && RegistrationForm.$submitted}">
            <span class="input-label">Clave</span>
            <input type="password" id="password" ng-model="registrationData.password" placeholder="Contraseña" name="password" ng-minlength="8" ng-maxlength="20" required  >
            <div class="form-errors" ng-show="RegistrationForm.password.$error.required && RegistrationForm.$submitted">Este campo es requerido</div>
            <div class="form-errors" ng-show="!RegistrationForm.password.$error.required && (RegistrationForm.password.$error.minlength || RegistrationForm.password.$error.maxlength) && RegistrationForm.password.$dirty && RegistrationForm.$submitted">Clave debe tener entre 8 y 20 caracteres</div>
           <!--

          ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"

           <div ng-show="!RegistrationForm.password.$error.required && !RegistrationForm.password.$error.minlength && !RegistrationForm.password.$error.maxlength && RegistrationForm.password.$error.pattern && RegistrationForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>-->
          </label>
          
          <label class="item item-input item-stacked-label" class="item item-input item-stacked-label" ng-class="{ 'has-error' : RegistrationForm.password_c.$invalid && RegistrationForm.$submitted}">
            <span class="input-label">Repetir Clave</span>
            <input type="password" ng-model="registrationData.password_c" placeholder="Repetir contraseña" name="password_c" id="password_c" valid-password-c required>
            <div class="form-errors" ng-show="RegistrationForm.password_c.$error.required && RegistrationForm.$submitted">Por favor confirma tu clave</div>
            <div class="form-errors" ng-show="!RegistrationForm.password_c.$error.required && RegistrationForm.password_c.$error.noMatch && RegistrationForm.password.$dirty && RegistrationForm.$submitted">Las claves no coinciden.</div>
          </label>

          <button class="button button-orange" type="submit">Registrarme</button>
        </div>
      </form>

      <div class="back-to-login-text">
        <a ng-click="destroySession()">Ir al login</a>
      </div>
    </div>
  </ion-content>
</ion-view>