<ion-view view-title="Login" hide-nav-bar="true" hide-back-button="true" class="registration-wrapper">
  <ion-content>
    <div class="main-section">
      <div class="main-ke-logo">
        <img src="img/logo.png" class="icon-absolute">
      </div>
      <div class="register-invitation">
        <h1>¡Regístrate ahora!</h1>
        <p>Obtén grandes beneficios y accede a nuestra amplia red de empleadores.</p>
      </div>
      <a class="button button-orange" ng-click="goToRegister()">Registrarme</a>
      <div class="login-text">
        <a ng-click="destroySession()">Ir al login</a>
      </div>
    </div>
  </ion-content>
</ion-view>