<ion-view view-title="Registro Respuesta" hide-back-button="true">
  <ion-content>
    <div class="wrapper-notifications">
      <h2>{{registrationResponse.message}}</h2>
      <p>
        Ille vivere. Ut ad te quaerebam ... purgare caeli. Sunt uh ... nonnullus propter errorem qui de rebus inter nos et iacere puto suus in causa, id est in mensa. Levir meus, priusquam oppugnarent tempus quis, admonere dicitur. Credo quod idem mihi praesidium. 

        His duobus, sicariorum. Et orci aetate erat, sed nescio quo modo se gerendo levir meus aufert a me. Propter hoc 'interventu 'vivere me scito. Et tamen hoc quod multo altius est eget arcu. Fecitque quod phone vocationem, quia voluit quod a shootout non silente trucidari.
      </p>
      <a class="button button-sky-blue" href="#/login">
        Aceptar
      </a>
    </div>
  </ion-content>
</ion-view>