<ion-view view-title="Login" hide-nav-bar="true" hide-back-button="true" class="login-wrapper">
  <ion-content>
    <div class="main-section">
      <div class="main-ke-logo">
        <img src="img/logo.png" class="icon-absolute">
      </div>
      <div class="forgot-pass-text">
        <h2>¿Olvidaste tu clave?</h2>
        <p>Escribe tu email y te enviaremos una nueva clave.</p>
      </div>
      <form ng-submit="sendInstructions()" class="login-form">
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-email placeholder-icon"></i>
            <input type="text" ng-model="loginData.username" placeholder="Correo Electrónico">
          </label>
          <button class="button button-orange" type="submit">Enviar</button>
        </div>
      </form>
      <div class="login-text">
        <a href="#/login">Regresar</a>
      </div>
    </div>
  </ion-content>
</ion-view>