<ion-view view-title="Clave olvidada" hide-nav-bar="true" hide-back-button="true" class="login-wrapper">
  <ion-content>
    <div class="main-section">
      <div class="main-ke-logo">
        <img src="img/logo.png" class="icon-absolute">
      </div>
      <br>
      <br>
      <p class="description-title">Tu clave ha sido enviada con exito</p>
      <br>
      <a class="button button-orange" href="#/login">Ir al login</a>
    </div>
  </ion-content>
</ion-view>