<ion-view view-title="Buscar">
  
  <ion-nav-buttons side="right">
    <a ng-show="showMyNotifications" class=" button button-icon icon positive ion-android-notifications"  href="#/app/notifications">
      <div class="notification-number" ng-show="notificationsNumber != 'No hay notificaciones nuevas' && notificationsNumber > 0">{{notificationsNumber > 99 ? '99+' : notificationsNumber}}</div>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <div class="jobs-filters">

      <div class="jobs-text">
        Escoge una opción de búsqueda de ofertas
      </div>

      <div>
        <a href="#/app/search_country" class="button search-option">
          Búsqueda por país
        </a>
        <br>
        </ion-item>
        <a href="#/app/search_position_area" class="button search-option">
          Búsqueda por área
        </a>
        <br>
        </ion-item>
        <a href="#/app/search_position_group" class="button search-option">
          Búsqueda por cargo
        </a>
        <br>
        </ion-item>
        <a href="#/app/search_contract" class="button search-option">
          Búsqueda por tipo de contrato
        </a>
        <br>
      </div>


    </div>
<!--    
    <div style="background: #fff;">
      DATA: {{jobs}}<br>
      <span>Url : {{config.url}}</span> 
      <br/>
      <span>method : {{config.method}}</span> 
      <br/>
      <span>Headers : {{config.headers}}</span> 
    </div>
-->    
  </ion-content>
</ion-view>
