<ion-view view-title="Buscar">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a ng-show="showMyNotifications" class=" button button-icon icon positive ion-android-notifications"  href="#/app/notifications">
      <div class="notification-number" ng-show="notificationsNumber != 'No hay notificaciones nuevas' && notificationsNumber > 0">{{notificationsNumber > 99 ? '99+' : notificationsNumber}}</div>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <div class="jobs-filters">

      <div class="jobs-text">
        Escoge una opción de búsqueda de ofertas
      </div>
      <form class="login-form" name="SearchForm" novalidate="">
        <div class="list">
          <div>
            Cargo
          </div>
          <label class="item item-input item-select">
            <i class="icon ion-ios-list placeholder-icon"></i>
            <div class="input-label">
              &nbsp;
            </div>
            <select name="positionGroup" id="positionGroup" ng-model="settingsData.positionGroup">
              <option ng-repeat="position in positions" value="{{position.id_pg}}">{{position.name}}</option>
            </select>
          </label>      
        </div>
      </form> 
      <button class="button button-orange" ng-click="searchPositionGroup()">Buscar</button>

    </div>
    <div class="jobs-lists">
      <div ng-if="showResponse">
        <ion-list>
          <ion-item ng-repeat="job in jobs" ng-click="openJob({{job.id_post}})" class="item item-icon-right">
            <h2 class="lists">{{job.realname}}</h2>
            <p>
              {{job.tipocontrato}} <br>
              {{job.pais}}
            </p>
            <i class="icon ion-ios-arrow-forward"></i>
          </ion-item>
        </ion-list>
      </div>      
    </div>
<!--    
    <div style="background: #fff;">
      DATA: {{jobs}}<br>
      <span>Url : {{config.url}}</span> 
      <br/>
      <span>method : {{config.method}}</span> 
      <br/>
      <span>Headers : {{config.headers}}</span> 
    </div>
-->    
  </ion-content>
</ion-view>
