<ion-view view-title="Preferencias">

  <ion-nav-buttons side="right">
    <a ng-show="showMyNotifications" class=" button button-icon icon positive ion-android-notifications"  href="#/app/notifications">
      <div class="notification-number" ng-show="notificationsNumber != 'No hay notificaciones nuevas' && notificationsNumber > 0">{{notificationsNumber > 99 ? '99+' : notificationsNumber}}</div>
    </a>
    <a class=" button button-icon icon positive ion-search" href="#/app/search"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="wrapper-settings">
      <h1>Preferencias</h1>
      <div class="jobs-text">
        Estableces tus preferencias, recibirás únicamente las ofertas que cumplan con cada parámetro establecido, ejemplo: si escojes Area: informática, Cargo: Jefe, tipo de contrato: tiempo completo, recibiras las ofertas que sean de tiempo completo en el área de informática para el cargo de jefe.
      </div>
      <br>
      <!--
      <div class="login-error" ng-if="updatedError">
        No se pudo actualizar la información
      </div>
      <div class="success-msg" ng-if="updatedSuccess">
        Tus preferencias han sido actualizadas exitosamente
      </div>
      <form ng-submit="updateSettings()" class="login-form" name="settingsData" novalidate="">
        <div class="list">
          En busca de empleo
          <label class="item item-input item-select">
            <i class="icon ion-document-text placeholder-icon"></i>
            <div class="input-label">
            </div>
            <select name="searchJob" id="searchJob" ng-model="settingsData.searchJob" ng-model-options="{allowInvalid: true}">
              <option ng-repeat="job in searchJobs" value="{{job.id}}" selected="getJobSelected({{job.id}})">{{job.title}}</option>
            </select>
          </label>
          <br>
          Medios de notificación
          <label class="item item-input item-select">
            <i class="icon ion-email placeholder-icon"></i>
            <div class="input-label">
            </div>
            <select name="notificationMean" id="notificationMean" ng-model="settingsData.notificationMean">
              <option ng-repeat="notificationm in notificationMeans" value="{{notificationm.id}}" selected="getNotificationMeanSelected({{notificationm.id}})">{{notificationm.title}}</option>
            </select>
          </label>
          <br>
          Notificar si empresa ve mi perfil
          <label class="item item-input item-select">
            <i class="icon ion-eye placeholder-icon"></i>
            <div class="input-label">
            </div>
            <select name="notificationView" id="notificationView" ng-model="settingsData.notificationView">
              <option ng-repeat="notificationv in notificationViews" value="{{notificationv.id}}" selected="getNotificationViewSelected({{notificationv.id}})">{{notificationv.title}}</option>
            </select>
          </label>
        </div>    -->

        <!-- TEST
        <div class="list">
          <label class="item item-input item-select">
            <i class="icon ion-ios-list placeholder-icon"></i>
            <div class="input-label">
              Area de empleo
            </div>
            <select name="activity" id="activity" ng-model="settingsData.activity">
              <option ng-repeat="jobposition in jobPositions" value="{{jobposition.id}}">{{jobposition.name}}</option>
            </select>
          </label>
          <br>
          <label class="item item-input item-select">
            <i class="icon ion-earth placeholder-icon"></i>
            <div class="input-label">
              Países
            </div>
            <select name="country" id="country" ng-model="settingsData.country">
              <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
            </select>
          </label>
          <br>
          <label class="item item-input item-select">
            <i class="icon ion-briefcase placeholder-icon"></i>
            <div class="input-label">
              Tipo de contrato
            </div>
            <select name="contract" id="contract" ng-model="settingsData.contract">
              <option ng-repeat="contract in contracts" value="{{contract.id}}">{{contract.name}}</option>
            </select>
          </label>
          <br>
          <label class="item item-input item-select">
            <i class="icon ion-document-text placeholder-icon"></i>
            <div class="input-label">
              Tipo de cargos
            </div>
            <select name="position" id="position" ng-model="settingsData.position">
              <option ng-repeat="position in positions" value="{{position.id}}">{{position.name}}</option>
            </select>
          </label>
          <br>
          <label class="item item-input item-select">
            <i class="icon ion-hammer placeholder-icon"></i>
            <div class="input-label">
              Rubro de empresa
            </div>
            <select name="activity" id="activity" ng-model="settingsData.activity">
              <option ng-repeat="activity in activities" value="{{activity.id}}">{{activity.name}}</option>
            </select>
          </label>

        </div>
        -->
        <!--
        <button class="button button-sky-blue" type="submit">Actualizar</button>
        <br>
        -->
        <div class="user-wrapper-cv login-small-font">
          <!--<a ng-click="goToUserPreferences()" class="button button-orange-light button-fix-large">-->
          <a ng-click="goToUserPreferences()" class="button button-positive button-fix-large">
            <i class="ion-ios-world-outline">&nbsp;</i>
            Modificar mis preferencias
          </a>
        </div>

      </form> 
    </div>
  </ion-content>
</ion-view>