/* Overwrite */
.bar.bar-stable{
  background: #282C85;
  color: #fff;
}

.bar-stable .button.button-icon{
  color: #fff;
}

.bar.bar-stable .title{
  color: #fff;
}

.scroll{
  height: 100%;
}

.button.back-button.buttons.button-clear.header-item{
  color: #fff;
}

.button{
  padding: 10px 12px;
  line-height: 2;
}

input[type="text"],input[type="email"],input[type="password"]{
  height: 36px;
}

.item-select {
  width: 100%; /* Or whatever you'd like the width to be */
  text-align: left;
}

.item.item-input.item-select > .input-label{
  width: 0 !important;
}

.item-select select {
  left: 0;
  max-width: 100%;
  text-align: left !important;
}

.item-select select > option{
  left: 0;
  max-width: 100%;
  text-align: left !important;
}

/* end */

.main-logo, .main-ke-logo{
  margin: 20px auto 50px;
}

.main-ke-logo{
  width: 320px;
  padding: 10px 20px 0;
}

.main-logo > img, .main-ke-logo > img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}


.main-section{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  border: 0;
  padding: 20px 0;
}

.login-wrapper{
  background: url("../img/bgHome.jpg") no-repeat center center #fff;
}

p.description-title{
  margin: 30px 0 20px;
  color: #1876C0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.registration-wrapper{
  background: url("../img/publicidadRegistro.png") no-repeat center center #fff;
}

.register-invitation{
  margin: 130px 40px 80px;
}

.register-invitation > h1, .register-invitation > p {
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
.register-invitation > h1{
  font-size: 24px;
  font-weight: bold;
}

.register-invitation > p{
  font-size: 20px;
}

.login-form{
  margin: 30px 20px;
}

.button-orange, .button-orange:active, .button-orange:hover{
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 1px 40px;
  background: #F6A04A;
  color: #fff;
}

a.button-orange{
  color: #fff;
  max-width: 200px;
}

.button-orange-light, .button-orange-light:active, .button-orange-light:hover{
  display: inline-block;
  margin: 5px auto;
  text-align: center;
  padding: 10px 10px 2px;
  background: #F6A04A;
  color: #fff;
  vertical-align: middle;
}

a.button-orange-light{
  color: #fff;
  width: 135px;
}

a.button-fix-large{
  width: 220px;
}

a.cv-button-fix-large{
  width: 220px;
  padding-bottom: 10px;
}

.assertive-badge{
  display: inline;
  background: #EF473A;
  border-radius: 5px;
  font-size: 9px;
  padding: 4px;
  color: #fff;
}

.user-wrapper-cv{
  text-align: center;
  margin-top: 5px;
}

.button-sky-blue, .button-sky-blue:active, .button-sky-blue:hover{
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 1px 40px;
  background: #1976BD;
  color: #fff;
}

.login-small-font > a{
  font-size: 11px;
  white-space: nowrap;
}

label.item.has-error {  
  border-bottom: 2px solid red;
}

.form-errors {
  margin: 2px 0;
  color: red;
  font-size: 12px;
}
.form-error {
  padding: 2px 0;
  color: red;
}

.login-text{
  text-align: center;
  margin: 20px 0;
}

.login-text > a {
  color: #fff;
  text-decoration: none;
}

.back-to-login-text{
  text-align: center;
  margin: 20px 0 40px;
  font-size: 18px;
  padding-bottom: 40px;
  cursor: pointer; 
}

.back-to-login-text > a{
  color: #666;
  text-decoration: none;
}

.custom-button-large{
  padding: 10px 0;
  width: 330px;
}

.forgot-pass-text{
  text-align: center;
}

.forgot-pass-text > h2 {
  color: #3673A9;
  font-size: 22px;
  font-weight: bold;
}

.side-menu{
  background: #282C85 !important; 
  border: none;
}

.item-side-menu{
  background: #282C85 !important;
  color: #fff;
  border: 2px solid #252982;
}

.item-side-menu > a.item-content, .item-side-menu > a:hover.item-content, .item-side-menu > a:active.item-content {
  background: none;
}

.scroll-content.ionic-scroll.has-header{
  background: #282C85;
}

.dashboard-wrapper{
}

.login-error{
  color: red;
  text-align: center;
  font-size: 14px;
}

.user-logged{
  background: #1A75BB;
  min-height: 200px;
  border-bottom: 4px solid #E6AC6D;
  color: #fff;
  text-align: center;
  position: relative;   
}

.user-logged > h1{
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
}

.user-logged > .user-image{
  text-align: center;
  padding: 10px 0 60px;
}

.user-logged > .user-image > a{
  padding-top: 10px;
}

.user-logged > .user-image > img, .user-logged > .user-image > a > img{
  border-radius: 50%;
  border: 1px solid #fff;
  max-width: 80px;
  height: 80px;
}

.user-logged > .user-image > a > img{
  max-width: 110px; 
}

.user-logged > .user-image > a{
  background: #1A75BB;
}

.user-logged > .user-image > h2{
  text-align: center;
  color: #fff;
  font-size: 24px; 
  margin: 0 20px 20px;
}

.jobs-text{
  text-align: center;
  padding: 20px 10px;
  color: #fff;
  background: #666;
}

.success-msg{
  text-align: center;
  padding: 20px 10px;
  color: #fff;
  background: #387EF5; 
}

.jobs-filters{
  padding: 20px 10px;
  min-height: 260px;
  background: url("../img/banner_1.jpeg") no-repeat center center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

.jobs-filters > form{
  opacity: 0.8;
}

.no-results{
  padding: 20px 0;
  text-align: center;
  background: #fff;
  color: #F4A654;
  font-weight: bold;
}

label{
  padding: 0 0 0 16px !important;
}

.myjob{
  position: relative;
}

.myjob > span.job-stage{
  position: absolute;
  right: 15%;
  top: 30%;
  font-size: 12px;
  padding: 5px 10px;
  background: #1D7ABB;
  border-radius: 10px;
  color: #fff;
}

.myjob > span.job-status2{
  background: #1D7ABB;
}

h2.lists{
  font-size: 14px;
  color: #356E9B;
  font-weight: bold;
}

.job-wrapper, .job-requirements{
  background: #fff;
}

.gray{
  background: #656668;
  color: #fff !important;
}

.gray > h2{
  color: #fff !important;
  font-weight: bold;
}

.sky-blue{
  color: #fff !important;
  background: #1A75BB !important;
  white-space: normal !important;
}

a.button-sky-blue{
  width: 200px;
}

.sky-blue > h2, .sky-blue > p {
  color: #fff !important;
  white-space: normal !important; 
}

.sky-blue > h2{
  font-weight: bold;
}

.applied-job{
  text-align: center;
  margin: 0 auto;
  color: #fff;
  padding: 20px 0 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
}

.applied-job > h2{
  color: #fff;
  font-size: 18px;
  padding: 0 10px;
}

.img-logo-menu{
  width: 100%;
}

a.custom-notifications{
  position: relative;
}

.notification-number{
  font-size: 10px;
  display: block;
  float: left;
  background-color: red;
  width: 24px;
  border-radius: 50%;
  height: 24px;
  line-height: 2.5;
  font-weight: bold;
  margin: 0px -10px 0 0;
  z-index: 99999;
  position: absolute;
  left: -5px;
  bottom: -8px;
}

.search-option{
  display: block;
  width: 85%;
  margin: 10px auto 0;
  text-align: center;
}

.wrapper-job-title{
  min-height: 200px;
  background: url("../img/banner.jpg") no-repeat center center;
  color: #fff;
  padding: 30px 15px;
}

.company-info, .user-info{
  background: #fff;
}

.wrapper-job-detail-title{
  min-height: 220px;
  color: #fff;
  padding: 30px 15px;
}

.wrapper-job-detail-title > h1{
  font-size: 20px;
  font-weight: bold;
  color: #282C85;  
}

.wrapper-job-detail-title p{
  color: #282C85;
}

.wrapper-job-detail-title a{
  color: #282C85;
  text-decoration: underline;
}

.wrapper-job-title > h1{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.job-requirements{
  text-align: center;
  padding: 20px;
}

.job-requirements > h2{
  color: #1976BD;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p, .wrapping-list{
  text-overflow: initial !important;
  white-space: initial !important;
}

.wrapper{
  height: 100%;
}

.wrapper-job-detail{
  background: #fff;
  padding: 15px 40px;
  color: #333;
}

.wrapper-job-detail > h1{
  color: #1976BD;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.wrapper-job-detail-company{
  padding: 10px;
  text-align: center;
}

.wrapper-job-detail-company > h2{
  font-size: 18px;
  color: #fff;
}

.wrapper-settings{
  background: #fff;
  min-height: 300px;
  padding: 15px 10px;
}

.wrapper-settings .input-label{
  font-size: 12px;
}

.wrapper-notifications{
  background: #fff;
  padding: 15px 40px;
}

.wrapper-job-detail > h2, .wrapper-settings > h2, .wrapper-settings > h1, .wrapper-notifications > h2, .wrapper-notifications > h1{
  color: #1976BD;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
}

.wrapper-job-detail > p{
  padding: 10px 0;
  text-align: justify;
}

.gray-title-bg{
  background: #bbb;
  padding: 20px 40px;
}

.device{
  background: #fff;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  cursor:auto;
}